html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    background-color: grey;
    height: 100%;
}

#container {
    width: 450px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
    font-family: Oswald;
    font-weight: bold;
    line-height: 1.1;
    color: white;
}

#container h1 {
    font-size: 54px;
    color: #333;
    text-align: center;
}

#container > div {
    background-color: black;
}

#container > div:nth-child(2) {
    height: 95px;
    margin-bottom: 15px;
}

#container > div:nth-child(3) {
    height: 230px;
}

.top-segment {
    display: flex;
    justify-content: space-around;
    height: 50%;
}

.upper {
    align-items: flex-end;
}

.lower {
    align-items: center;
}

.upper span {
    font-size: 24px;
}

.lower span {
    font-family: Orbitron;
    font-size: 21px;
    line-height: 1.42857143;
}

.top-segment i {
    width: 14px;
    height: 14px;
}

#container > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.bottom-segment {
    height: 56px;
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-segment i {
    height: 42px;
}

.bottom-segment i:first-child {
    width: 33px;
}

.bottom-segment i:nth-child(2) {
    width: 36px;
}